


   *{
    font-family: 'Stylish', sans-serif;
}


.video{
    position:absolute;
    top: 50px;
    left: 0;
    object-fit: cover;
    opacity: 0.8;
    background-attachment: scroll;
    max-width: 100%; height: auto;

    
}

.line{
display: flex;
flex-basis: 100;
align-items: center;
color: blueviolet;
font-size: 14px;
margin:8px 0px

}
.line::before{
content: "";
flex-grow: 1;
margin: 0px 16px;
background: blueviolet;
height: 1px;
font-size: 0px;
line-height: 0px;

}
.line::after{
content: "";
flex-grow: 1;
margin: 0px 0px;
background: blueviolet;
height: 1px;
font-size: 0px;
line-height: 0px;

}

.firstpic{
position: relative;

}

.congratulation{
position: absolute;
left: 700px;
top: 100px

}

.heather{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 40px 100px;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
}

/* Bootstrap Navigation Overriding by Readiz */
.w3-bar{ background-color: #e74c3c; }


.글꼴1{
    font-family: 'Gowun Dodum', sans-serif;
}

@media(min-aspect-ratio:16/9){
    .video-background{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .video-background{
        width: auto;
        height: 100%;
    }
}

    video::-webkit-media-controls-fullscreen-button {display: none !important; }
    video::-webkit-media-controls-play-button {display: none !important; } 
     video::-webkit-media-controls-timeline {display: none !important; } 
    video::-webkit-media-controls-current-time-display{display: none !important; }


/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ여기서 부터 선생님께서 적으셨던 것들ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
  
.bgimg-1 {
        background-image: url("http://i5.walmartimages.com/asr/31383a4e-e4ba-4824-bfc9-2ae230d156c5.20d027fe0f6c3d2e360974e50ae10544.jpeg?odnWidth=undefined&odnHeight=undefined&odnBg=ffffff");
        min-height: 400px;
        background-attachment: scroll;
    }
    
.bgimg-2 {
        background-image: url("https://i.ytimg.com/vi/azjyNe7nVeA/maxresdefault.jpg");
        min-height: 400px;
        background-attachment: scroll;
    }
    
    .bgimg-4 {
        background-image: url("https://i.ytimg.com/vi/azjyNe7nVeA/maxresdefault.jpg");
        min-height: 400px;
    }

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
.w3-padding-large {width : 150px;}
    
    
   
   



